# Build results
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/

# Visual Studio / Rider
.vs/
.idea/
*.user
*.suo
*.userosscache
*.sln.iml
*.DotSettings
*.DotSettings.user

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# Test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
TestResults/
coverage*.json
coverage*.xml
coverage*.info

# NuGet Packages
*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/

# Misc
*.log
.localhistory/
_ReSharper*/
*.[Rr]e[Ss]harper
.DS_Store
src/Supabase.Faker/Supabase.zip